input[type="checkbox"]:checked + label + span {
  text-decoration: line-through;
}

[type="checkbox"] + label:before {
    border-color: rgba(255, 255, 255, 0.8);
}

[type="checkbox"]:checked + label:before {
    border-right-color: rgba(255, 255, 255, 0.8);
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

.row:last-child {
    margin-bottom: 0
}

